@import "select2/dist/css/select2.css";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-selection--multiple{
	padding: 0 5px 5px 5px;
	overflow: hidden !important;
	height: auto !important;
}
